@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Damion&family=Dancing+Script&family=Montserrat:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: 1.1;
    border-bottom: 1px solid rgba(255,255,255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover{
    background-color: rgba(255,255,255, .3);
}

.main-header {
    background-color: rgba(0 ,0, 0, .6);
    background-image: url("Images/mac-miller-come-back-to-earth.jpg");
    background-blend-mode: multiply; /*Blends transparancy with background*/
    background-size: contain;
    background-position: center;
    padding-bottom: 30px;
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
    color: white;
}

.band-name-large {
    font-size: 7em;
}

.content-section {
    margin: 1em;
    min-height: 42vh;
}

.container {
    max-width: 9000px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: 'Damion', cursive;
    color: #333;
    font-size: 2.5em;
    text-align: center;
}

.about-band-image {
    float: left;
    height: 250px;
    width: 250px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: rgb(5, 89, 167);
    color: white;
    padding: .25em 0;
    width: 100%; 
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0, .5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 20%;
    color: white;
    border: 2px solid rgb(0, 162, 255);
    background-color: rgba(255,255,255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header-link {
    display: block;
    margin: auto;


}

.btn-header:hover {
    background-color: rgba(255,255,255, .3);
}

.btn-play {
    display: block; /*This is needed because only block elements 
    have margin auto and buttons aren't block
    elemtns by default*/
    margin: 0 auto;
    color: rgb(0, 162, 255);
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.btn-play-link {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 13%;
}

/*Keep in mind with the display: inline-block in .tour-item
There is spacing because it is a block so the values below are
subtracted ever so slightly to not = 100%. In this case they =
86% */
.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.btn-primary {
    color: white;
    background-color: rgb(0, 162, 255);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgba(0, 162, 255, .5);
}